@font-face{font-family:'BebasNeueRegular';src:url('CGothic.ttf') format('truetype');}
@font-face{font-family:'CobertRegular'; src:url('Corbert-Regular.otf') format('truetype');}
@font-face{font-family:'Geomanist'; src:url('geomanist-regular-webfont.ttf') format('truetype');}
	html,body{margin:0;padding:0;}
	a:link    {text-decoration:none;}

	
h3 {
  overflow: hidden;
  text-align: center;
}

h3:before,
h3:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h3:before {
  right: 0.5em;
  margin-left: -50%;
}

h3:after {
  left: 0.5em;
  margin-right: -50%;
}
	.page{
	
		background-repeat: no-repeat;
		background-size: cover;
	}
	.page:after{
		position:fixed;width:100%;height:100%;top:0px;left:0px;z-index:0;
		content:'';background:transparent url(pattern.png) repeat top left;
		z-index:-1;
		-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1))); // fades image;
	}
	
	
	.container{position:relative;text-align:center;}
	.clr{clear:both;}
	.container > header{padding:30px 30px 10px 20px;margin:0px 20px 10px 20px;position:relative;display:block;text-shadow:1px 1px 1px rgba(0,0,0,0.2);text-align:left;}
	.container > header h1{font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;font-size:48px;line-height:45px;position:relative;font-weight:400;color:#ccccff;text-shadow:2px 2px 1px rgba(0,0,0,1);padding:0px 0px 5px 0px;}
	.container > header h1 span{}
	.container > header h2, p.info{
				font-family: 'CobertRegular';
				font-size:22px;
				/*font-style:italic;*/
				color:#ffffff;
				text-shadow:1px 1px 1px rgba(0,0,0,1);
				margin-left: 108px;
	}
	.codrops-top{font-family:'BebasNeueRegular',Arial, sans-serif;font-size:16px;line-height:50px;background:#000;opacity:0.9;z-index:9999;position:relative;-moz-box-shadow:1px 0px 2px #000;-webkit-box-shadow:1px 0px 2px #000;box-shadow:1px 0px 2px #000;}
	.codrops-top a{padding:0px 10px;letter-spacing:1px;color:#ddd;display:block;float:left;}
	.codrops-top a:hover{color:#fff;}
	.codrops-top span.right{float:right;text-transform:uppercase; margin-right:100px;}
	.codrops-top span.right a{float:none;display:inline;}
	.codrops-top span.left{font-family:'Geomanist', Arial, sans-serif; font-size:35px;}
	.codrops-top span.left a{display:inline;}
	
	.content{
	
		/*background-color:#ffffff;*/
		background: rgba(255,255,255,0.7);
		margin-left:150px;
		margin-right:100px;
		min-height:350px;
		overflow:hidden;
	}
	
	.imgbox{
	
		margin-left:110px; 
		margin-right:160px;
		margin-bottom:15px;
		margin-top:35px;
		font-family:'BebasNeueRegular';
		
	}
	
	.box1{

		
		margin-left:110px; 
		float:left;
		margin-right:160px;
		margin-bottom:65px;
		margin-top:15px;
		font-family:'BebasNeueRegular';
	}
	
	.footer{
	
		  position: relative;
		  right: 0;
		  bottom: 0;
		  left: 0;
		 /* padding: 1rem;*/
		  padding-top:4px;
		  padding-bottom: 4px;
		  padding-left:10px;
		  padding-right:10px;
		  max-height:65px;
		  margin-top:50px;
		  background-color: #9da3ad;
		  text-align: center;
		  font-family:'BebasNeueRegular';
		  font-size:10px;
	}
	
	#clipart{
		
		float:left;
		margin-top:-90px;
		width:90px;
		height:85px;
	}
	#clipart2{
		float:left;
		margin-top:-65px; 
		margin-left: 20px; 
		width:65px; 
		height:50px;
	}
	
	#icons_div{
		
		float:left; 
		width: 100%;  
		display: block; 
		margin:auto;
	}

	#icon_image{
		
		width:30px; 
		height:30px; 
		float:left; 
		margin-top:-6px; 
		margin-left:15px;
	}
	
@media screen and (max-width: 1000px) {
	
	.content{

		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.codrops-top span.right{margin-right:10px;}
	
	.container > header h2, p.info{

				margin-left: -20px;
	}
}

@media screen and (max-width:670px){

	#arrow{
		margin-left:115px;
		margin-right:100px;

	}
	#brazil{
			
			margin-left:0px;
	}
	#uk{
			
		margin-top:0px;

	}

}
	
@media screen and (max-width:600px){

	#arrow{
		margin-left:50px;
		margin-right:100px;

	}
	#brazil{
			
			margin-left:0px;
	}
	#uk{
			
		margin-top:0px;

	}
	#email{
		font-size:12px;
	}
	
	#clipart2{
		float:left;
		margin-top:-65px; 
		margin-left:0px; 
		width:65px; 
		height:50px;
	}
}
	
@media screen and (max-width:500px){
		.box1{

				
				margin-left:25px; 
				margin-right:55px;
				margin-bottom:40px;
				margin-top:15px;
		}
		.codrops-top span.right{margin-right:65px;}
		#brazil{
			
			margin-left:0px;
		}
		#uk{
			
			margin-top:0px;

		}
		#arrow{
			margin-left:10px;
			margin-right:10px;

		}
		#clipart{
			width:76px;
		}
		#clipart2{
			float:right;
		}
}

